<div class="container1">
    <header class="headings">
        <h1>{{ title }}</h1>
        <h3>A place to store your todos</h3>
    </header>
    <input class="inputbox" type="text" placeholder="type here if you dare" />
    <ol class="containerList">
        <li><button>Complete</button> fight <i class="fas fa-skull skull"></i></li>
        <li>
            <button>{{ todo.completed }}</button>{{ todo.task }}
            <i class="fas fa-skull skull"></i>
        </li>
    </ol>
    <form [(ngSubmit)]="newTask()">
        <input [(ngModel)]="newPost.task" class="inputbox" type="text" placeholder="add things if you dare" id="Add" />
        <button class="addButton">Add</button>
    </form>
</div>