<div class="container1">
    <header class="headings">
        <h1>{{ title }}</h1>
        <h3>A place to store your todos</h3>
    </header>
    <input class="inputbox" type="text" placeholder="type here if you dare" />
    <ol class="containerList">
        <li *ngFor="let newStuff of todos">
            {{ newStuff.task }} {{ newStuff.completed }}
            <button class="skull" (click)="delete()">X</button>
        </li>
    </ol>
    <form (ngSubmit)="newTask()">
        <input [(ngModel)]="newToDo.task" class="inputbox" name="new" type="text" placeholder="add things if you dare" />
        <button type="submit" class="addButton">Add</button>
    </form>
</div>